@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Oxygen:wght@300&family=Poppins:wght@300;400;600&display=swap');


/* Main styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.btn{
    padding: 10px;
    background-color: rgb(248, 175, 19);
    border-radius: 5px;
    text-align: center;
}

.btn:hover{
    background-color: rgb(233, 162, 8);
}

.btn a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn a:hover{
    background-color: rgb(233, 162, 8);
}

section{
    padding: 2rem 9%;
}


/* header starts here */
.header{
    background-color: rgba(255, 255, 255, 0.31);
    transition: 0.5s ease background-color;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    margin: auto;
    padding: 1rem 9%;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}


/* added code */
 #header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid green;
    border-radius: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
  } 

  #header .hamburger .bar {
    height: 2px;
    width: 30px;
    background-color: rgb(238, 41, 41);
    position: relative;
    z-index: -1;
  } 

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
}

 #header .hamburger .bar::after {
    top: 8px;
  }
  
  #header .hamburger .bar::before {
    bottom: 8px;
  } */
 
   #header .hamburger.active .bar::after {
    bottom: 0;
    display: none;
  } 
  
  #header .hamburger.active .bar::before {
    top: 0;
    display: none;
  } 
  

  /* end of added code */

.header .nav{
    display: flex;
    align-items: center;
}

.header .navbar a{
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: 100;
    font-size: 15px;
    border-radius: 5px;
}

.header .navbar a:hover{
    background-color: rgb(233, 162, 8);
}

.header .buttons{
    display: flex;
}

.header .buttons .sign-in{
   background-color: white;
   margin-right: 15px;
   border: 1px solid #c2c2ff99;
}

.header .buttons .sign-in:hover{
    background-color: rgb(233, 162, 8); 
}

.header .buttons .sign-in a{
    color: rgb(74, 5, 139);
}
/* header ends here */


/* HErO SEcTiOn */
.hero{
    display: flex;
    margin-top: 50px;
}

.hero .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .details h1{
    font-size: 2.5rem;
    font-weight: bolder;
}

.hero .details p{
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-top: 15px;
    width: 90%;
    font-size: 20px;
    line-height: 30px;
    color: rgb(90, 64, 64);
}

.hero .details .buttons{
    display: flex;    
}

.hero .details .buttons .btn{
    width: 30%;
}

.hero .details .buttons .btn-2{
    background-color: white;
    border: none;
    margin-left: 30px;
}

.hero .details .buttons .btn-2 a {
    color: rgb(248, 175, 19);
    font-weight: 200;
    text-decoration: underline;
}
/* home ends here */

.product h1{
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 50px;
}

.product .products{
    display: flex;
}

.product .icons img{
   height: 80px;
   width: 80px;
}

.product .icons{
    margin: 20px;
    width: 20%;
    text-align: left;
}

.product .icons h3{
    margin: 0 15px 15px 0;
    font-size: 1.5rem;
}

.product .icons p{
    color: rgb(90, 64, 64);
    line-height: 30px;
    font-size: 18px;
}

.product .btn{
    margin: 0 auto;
    width: 15%;  
}
/* products end here */


/* customer section starts here */
.customers .validation{
    display: flex;
}

.validation .validation-details{
    margin-top: 50px;
}

.validation .validation-details h4{
    color: rgb(90, 64, 64);
    font-weight: 600;
}

.validation .validation-details h1{
    font-size: 3rem;
    margin-top: 10px;
}

.validation .validation-details p{
    color: rgb(90, 64, 64);
    width: 70%;
    margin: auto 0;
    padding: 10px 4px 10px 0;
}

.validation .validation-details h3{
    margin-top: 20px;
}

.validation .validation-img {
    margin-top: 50px;
}

.customers .manager{
    display: flex;
    margin-top: 50px;
}

.customers .manager-details{
    margin-left: 50px;
}

.customers .manager-detail h4{
    color: rgb(90, 64, 64);
    font-weight: 600;
}

.customers .manager-detail h1{
    font-size: 3rem;
    margin-top: 10px;
}

.customers .manager-detail p{
    color: rgb(90, 64, 64);
    width: 85%;
    text-align: left;
    margin: auto 0;
}

.customers .icons{
    display: flex;
    margin-top: 20px;
    align-items: center;
}



.customers .icons p{
    width: 55%;
    padding-left: 25px;
    line-height: 30px;
    text-align: left;
}

.customers .icons .two{
    width: 60%;
}

.customers .icons .three{
    width: 65%;
}

.customers .marketer{
    display: flex;
    margin-top: 50px;
}

.customers .marketer-details h4{
    color: rgb(90, 64, 64);
    font-weight: 600;
}

.customers .marketer-details h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.customers .marketer-details p{
    color: rgb(90, 64, 64);
    width: 70%;
    text-align: left;
}


.customers .marketer-details h3{
    margin-top: 30px;
}
 /* customers section ends here */


 /* price section starts here  */

 .price{
    text-align: center;
 }

 .price h1{
    width: 40%;
    margin: auto;
    font-size: 2.5rem;
    font-weight: bold;
 }

 .price p{
    width: 50%;
    margin: auto;
    text-align: center;
    color: rgb(70, 70, 248);
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .price .btn{
    width: 20%;
    margin: auto;
    margin-top: 50px;
 }
 /* price ends here */

 
 /* resource section starts here */
 #resource .content{
    display: flex;
    justify-content: space-between;
 }

 
 .resource h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 50px;
 }

 .resource p{
    color: rgb(90, 64, 64);
    margin-bottom: 50px;
 }

 .content .resources {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10rem;
 }

 .content .resources{
    width: 350px;
 }

 .content .resources h2{
    font-size: 1rem;
    margin: 15px 0;
    color: rgb(90, 64, 64);
 }

 .content .resources h2 span{
    color: black;
 }

 .content .resources h1{
    font-size: 1.5rem;
 }

 /* social starts here */

 .social{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
 }




 .social .links{
    display: flex;
    flex-direction: column;
 }

 .social .links h3{
    margin-bottom: 2rem;
    font-weight: 300;
 }

 .social .links a{
    text-decoration: none;
    color: rgb(90, 64, 64);
    padding: 5px;
 }


 .social .right {
    width: 26%;
 }

 .social .right h1{
    margin-bottom: 2rem;
    font-weight: 300;
 }

 .social .right input{
    width: 100%;
    padding: 1rem;
    text-align: justify;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.209);
    outline: none;
    
    
 }

 .social .right input[type=text]:focus {
    box-shadow: 0px 0px 5px 5px rgba(224, 207, 108, 0.904);
    border: none;
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.139);
    font-size: 15px;
    
  }

  .social .right .btn{
    width: 40%;
    margin: auto 0;
    font-size: 0.8rem;
    margin-top: 10px;
  }

  .footer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding:0 ;
  }

  hr {
    height: 1px;
    background-color: #eeececd8;
    border: none;
    margin: 0;
  }

  /* media queries */

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    /* Header */
    .header {
        display: flex;
        align-items: center;
        /* flex-direction: column; */
        padding: 1rem 5%;
    }

    .header .navbar a {
        display: none;
        font-size: 14px;
        padding: 8px;
    }

    .header .buttons {
        margin-top: 10px;
    }

    .header .buttons .sign-in {
        width: 100%;
        margin-top: 10px;
        align-items: center;
    }

    /* Hero Section */
    .hero {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .hero .details h1 {
        font-size: 2rem;
        text-align: center;
    }

    .hero .details p {
        font-size: 16px;
        width: 90%;
        text-align: center;
    }

    .hero img{
        width: 120%;
    }

    .hero .details .buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .hero .details .buttons .btn {
        width: 80%; 
        margin-bottom: 10px;
    }

    .hero .details .buttons .btn-2 {
        background-color: transparent;
        border: 2px solid rgb(248, 175, 19);
        width: 80%;
        margin-top: 10px;
    }

    /* buttons section */
    .nav .buttons {
        display: none;
    }

    /* Product Section */
    .product h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .product .products {
        flex-direction: column;
        align-items: center;
    }

    .product .icons {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .product .icons h3 {
        font-size: 1.2rem;
    }

    .product .icons p {
        font-size: 14px;
    }

    .product .btn {
        width: 60%; 
        margin-top: 10px;
    }

    /* Customers Section */
    .customers .validation,
    .customers .manager,
    .customers .marketer {
        flex-direction: column;
        align-items: center;
    }

    .validation .validation-img img{
        width: 120%;
    }

    .customers .manager-details,
    .customers .marketer-details {
        margin-left: 0;
        text-align: center;
    }

    .validation{
        align-items: center;
        margin-left: 2rem;
    }
    .customers .manager-detail h4,
    .customers .marketer-details h4 {
        font-size: 1.2rem;
    }

    .customers .manager-detail h1,
    .customers .marketer-details h1 {
        font-size: 2.2rem;
    }

    .customers .icons {
        flex-direction: column;
        align-items: center;
    }

    .customers .icons p {
        width: 100%;
        text-align: center;
    }

    /* manager section */

    .manager .manager-img img{
        width: 120%;
    }


    /* marketer section */
    .marketer .marketer-img img{
        width: 120%;
    }

    /* Price Section */
    .price h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .price p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .price .btn {
        width: 60%;
    }

    /* Resource Section */
    #resource .content {
        flex-direction: column;
        align-items: center;
    }

    #resource .resources {
        width: 80%;
        margin-bottom: 20px;
    }

    #resource .resources h2 {
        font-size: 1.1rem;
    }

    .resource p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .resource h1 {
        font-size: 2.2rem;
    }

    /* Social Section */
    .social {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .social .right {
        width: 90%;
        margin-top: 20px;
    }

    .social .right input {
        width: 100%;
        padding: 1rem;
    }

    .social .right .btn {
        width: 50%;
        margin: 20px auto;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    .footer hr {
        width: 90%;
        margin: 10px auto;
    }

    /* Social Media Links */
    .social .links a {
        font-size: 14px;
    }

    .social .links h3 {
        font-size: 1.2rem;
    }
}


/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px */

@media (min-width: 481px) and (max-width: 767px) {
 
 body{
    font-size: 1rem;
 }

 /* header */
 .header{
    padding: 1rem 5%;
 }

 .header .navbar a{
    display: none;
    font-size: 1rem;
    padding: 10px;
 }

 .header .buttons{
    display: none;
 }

 /* Hero section section */
 .hero{
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
 }

 .hero .details h1{
    font-size: 2rem;
    text-align: center;
 }

 .hero .details p{
    font-size: 17px;
    width: 100%;
    text-align: center;
 }

 .hero img {
    width: 120%;
 }

 .hero .details .buttons{
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
 }

 .hero .details .buttons .btn{
    width: 100%;
    margin-bottom: 10px;
 }

 .hero .details .buttons .btn-2{
    background-color: transparent;
    border: 2px solid rgb(248, 175, 19);
    width: 100%;
    margin-top: 10px;
 }

 /* buttons section */
 .nav .buttons{
    display: none;
 }

 /* product section */
 .product h1{
    font-size: 3.2rem;
    margin-bottom: 20px;
 }

 .product .products {
    flex-direction: column;
    align-items: center;
 }

 .product .icons {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
 }

 .product .icons h3{
    font-size: 1.4rem;
 }

 .product .icons p{
    font-size: 16px;
 }

 .product .btn{
    width: 100%;
    margin-top: 12px;
 }

 /* Customers section */
 .customers .validation,
 .customers .manager,
 .customers .marketer{

    flex-direction: column;
 }

 /* Price Section */
 .price h1{
    font-size: 2.3rem;
    margin-bottom: 25px;
 }

 .price p {
    font-size: 20px;
    margin-bottom: 25px;
 }

 .price .btn{
    width: 100%;
 }

 /* REsource Section */
 #resource .content {
    flex-direction: column;
    align-items: center;
 }

 #resource .resources {
    width: 100%;
    margin-bottom: 25px;
 }
 
 #resource .resources h2{
    font-size: 1.5rem;
 }

 .resource p{
    font-size: 20px;
    margin-bottom: 25px;
 }

 .resource h1 {
    font-size: 2.5rem;
 }

 /* Social Section */
 .social {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
 }

 .social .right {
    width: 100%;
    margin-top: 25px;
 }

 .social .right input{
    width: 100%;
    padding: 1.5rem;
 }

 .social .right .btn {
    width: 100%;
    margin: 20px auto;
}


.footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.footer hr {
    width: 90%;
    margin: 10px auto;
}

/* Social Media Links */
.social .links a {
    font-size: 14px;
}

.social .links h3 {
    font-size: 1.2rem;
}
}


/* 
  ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    body{
        font-size: 1rem;
     }
    
     /* header */
     .header{
        padding: 1rem 5%;
     }
    
     .header .navbar a{
        display: none;
        font-size: 1rem;
        padding: 10px;
     }
    
     .header .buttons{
        display: none;
     }
    
     /* Hero section section */
     .hero{
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
     }
    
     .hero .details h1{
        font-size: 2rem;
        text-align: center;
     }
    
     .hero .details p{
        font-size: 17px;
        width: 100%;
        text-align: center;
     }
    
     .hero img {
        width: 120%;
     }
    
     .hero .details .buttons{
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
     }
    
     .hero .details .buttons .btn{
        width: 100%;
        margin-bottom: 10px;
     }
    
     .hero .details .buttons .btn-2{
        background-color: transparent;
        border: 2px solid rgb(248, 175, 19);
        width: 100%;
        margin-top: 10px;
     }
    
     /* buttons section */
     .nav .buttons{
        display: none;
     }
    
     /* product section */
     .product h1{
        font-size: 3.2rem;
        margin-bottom: 20px;
     }
    
     .product .products {
        flex-direction: column;
        align-items: center;
     }
    
     .product .icons {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
     }
    
     .product .icons h3{
        font-size: 1.4rem;
     }
    
     .product .icons p{
        font-size: 16px;
     }
    
     .product .btn{
        width: 100%;
        margin-top: 12px;
     }
    
     /* Customers section */
     .customers .validation,
     .customers .manager,
     .customers .marketer{
    
        flex-direction: column;
     }
    
     /* Price Section */
     .price h1{
        font-size: 2.3rem;
        margin-bottom: 25px;
     }
    
     .price p {
        font-size: 20px;
        margin-bottom: 25px;
     }
    
     .price .btn{
        width: 100%;
     }
    
     /* REsource Section */
     #resource .content {
        flex-direction: column;
        align-items: center;
     }
    
     #resource .resources {
        width: 100%;
        margin-bottom: 25px;
     }
     
     #resource .resources h2{
        font-size: 1.5rem;
     }
    
     .resource p{
        font-size: 20px;
        margin-bottom: 25px;
     }
    
     .resource h1 {
        font-size: 2.5rem;
     }
    
     /* Social Section */
     .social {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
     }
    
     .social .right {
        width: 100%;
        margin-top: 25px;
     }
    
     .social .right input{
        width: 100%;
        padding: 1.5rem;
     }
    
     .social .right .btn {
        width: 100%;
        margin: 20px auto;
    }

    /* Product section */

    .product .products{
        display: flex;
        flex-direction: row;
    }
    
    
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }
    
    .footer hr {
        width: 90%;
        margin: 10px auto;
    }
    
    /* Social Media Links */
    .social .links a {
        font-size: 14px;
    }
    
    .social .links h3 {
        font-size: 1.2rem;
    }
    }
    
  
    /* ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  
  body{
    font-size: 1rem;
  }

  #header .hamburger{
    display: none;
  }

/* Body */
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.btn{
    padding: 10px;
    background-color: rgb(248, 175, 19);
    border-radius: 5px;
    text-align: center;
}

.btn:hover{
    background-color: rgb(233, 162, 8);
}

.btn a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn a:hover{
    background-color: rgb(233, 162, 8);
}

section{
    padding: 2rem 9%;
}


/* header starts here */
.header{
    background-color: rgba(255, 255, 255, 0.31);
    transition: 0.5s ease background-color;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    margin: auto;
    padding: 1rem 9%;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}


.header .nav{
    display: flex;
    align-items: center;
}

.header .navbar a{
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: 100;
    font-size: 15px;
    border-radius: 5px;
}

.header .navbar a:hover{
    background-color: rgb(233, 162, 8);
}

.header .buttons{
    display: flex;
}

.header .buttons .sign-in{
   background-color: white;
   margin-right: 15px;
   border: 1px solid #c2c2ff99;
}

.header .buttons .sign-in:hover{
    background-color: rgb(233, 162, 8); 
}

.header .buttons .sign-in a{
    color: rgb(74, 5, 139);
}
/* header ends here */


/* HErO SEcTiOn */

#hero .hero{
    width: 100%;
}

.hero .hero img{
    width: 50%;
}
.hero{
    display: flex;
    margin-top: 50px;
}

.hero .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.hero .details h1{
    font-size: 2.5rem;
    font-weight: bolder;
}

.hero .details p{
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-top: 15px;
    width: 90%;
    font-size: 20px;
    line-height: 30px;
    color: rgb(90, 64, 64);
}

.hero .details .buttons{
    display: flex;   
}

.hero .details .buttons .btn{
    width: 100%;
}

.hero .details .buttons .btn-2{
    width: 100%;
    display: flex;
    background-color: white;
    border: none;
    margin-left: 30px;
}

.hero .details .buttons .btn-2 a {
    color: rgb(248, 175, 19);
    font-weight: 200;
    text-decoration: underline;
}
/* home ends here */

.product h1{
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 50px;
}

.product .products{
    display: flex;
}

.product .icons img{
   height: 80px;
   width: 80px;
}

.product .icons{
    margin: 20px;
    width: 20%;
    text-align: left;
}

.product .icons h3{
    margin: 0 15px 15px 0;
    font-size: 1.5rem;
}

.product .icons p{
    color: rgb(90, 64, 64);
    line-height: 30px;
    font-size: 18px;
}

.product .btn{
    margin: 0 auto;
    width: 15%;  
}
/* products end here */


/* customer section starts here */
.customers .validation{
    display: flex;
}

.validation .validation-details{
    margin-top: 50px;
}

.validation .validation-details h4{
    color: rgb(90, 64, 64);
    font-weight: 600;
}

.validation .validation-details h1{
    font-size: 3rem;
    margin-top: 10px;
}

.validation .validation-details p{
    color: rgb(90, 64, 64);
    width: 70%;
    margin: auto 0;
    padding: 10px 4px 10px 0;
}

.validation .validation-details h3{
    margin-top: 20px;
}

.validation .validation-img {
    margin-top: 50px;
}

.customers .manager{
    display: flex;
    margin-top: 50px;
}

.customers .manager-details{
    margin-left: 50px;
}

.customers .manager-detail h4{
    color: rgb(90, 64, 64);
    font-weight: 600;
}

.customers .manager-detail h1{
    font-size: 3rem;
    margin-top: 10px;
}

.customers .manager-detail p{
    color: rgb(90, 64, 64);
    width: 85%;
    text-align: left;
    margin: auto 0;
}

.customers .icons{
    display: flex;
    margin-top: 20px;
    align-items: center;
}



.customers .icons p{
    width: 55%;
    padding-left: 25px;
    line-height: 30px;
    text-align: left;
}

.customers .icons .two{
    width: 60%;
}

.customers .icons .three{
    width: 65%;
}

.customers .marketer{
    display: flex;
    margin-top: 50px;
}

.customers .marketer-details h4{
    color: rgb(90, 64, 64);
    font-weight: 600;
}

.customers .marketer-details h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.customers .marketer-details p{
    color: rgb(90, 64, 64);
    width: 70%;
    text-align: left;
}


.customers .marketer-details h3{
    margin-top: 30px;
}
 /* customers section ends here */


 /* price section starts here  */

 .price{
    text-align: center;
 }

 .price h1{
    width: 40%;
    margin: auto;
    font-size: 2.5rem;
    font-weight: bold;
 }

 .price p{
    width: 50%;
    margin: auto;
    text-align: center;
    color: rgb(70, 70, 248);
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .price .btn{
    width: 20%;
    margin: auto;
    margin-top: 50px;
 }
 /* price ends here */

 
 /* resource section starts here */
 #resource .content{
    display: flex;
    justify-content: space-between;
 }

 
 .resource h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 50px;
 }

 .resource p{
    color: rgb(90, 64, 64);
    margin-bottom: 50px;
 }

 .content .resources {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10rem;
 }

 .resource .content .resources img{
    width: 100%;
    padding: 5px;
    /* gap: 20rem; */
    justify-content: space-between;
 }

 .content .resources{
    width: 350px;
 }

 .content .resources h2{
    font-size: 1rem;
    margin: 15px 0;
    color: rgb(90, 64, 64);
 }

 .content .resources h2 span{
    color: black;
 }

 .content .resources h1{
    font-size: 1.5rem;
 }

 /* social starts here */

 .social{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
 }



 .social .links{
    display: flex;
    flex-direction: column;
 }

 .social .links h3{
    margin-bottom: 2rem;
    font-weight: 300;
 }

 .social .links a{
    text-decoration: none;
    color: rgb(90, 64, 64);
    padding: 5px;
 }


 .social .right {
    width: 26%;
 }

 .social .right h1{
    margin-bottom: 2rem;
    font-weight: 300;
 }

 .social .right input{
    width: 100%;
    padding: 1rem;
    text-align: justify;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.209);
    outline: none;
    
    
 }

 .social .right input[type=text]:focus {
    box-shadow: 0px 0px 5px 5px rgba(224, 207, 108, 0.904);
    border: none;
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.139);
    font-size: 15px;
    
  }

  .social .right .btn{
    width: 40%;
    margin: auto 0;
    font-size: 0.8rem;
    margin-top: 10px;
  }

  .footer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding:0 ;
  }

  hr {
    height: 1px;
    background-color: #eeececd8;
    border: none;
    margin: 0;
  }
}

/* 
  ##Device = Desktops  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    
    #header .hamburger{
        display: none;
      }
  }
  
  
